*{
    margin: 0px;
    padding: 0px;
    background-color: black;
}

.container{
    width: 100%;
}
.list ul li{
    float: left;
    list-style: none;
    margin: 20px;
    display:inline-block;
    
}
.list{
    margin-left: 693px;
    color: aliceblue;
    margin-top: -65px;
}
.header{
    background-color: black;
}
.logo{
    margin-left: 7vw;
}
.banner {
    width: 100%;
    height: 30vh;
    
}
.banner:hover{
    background-image: url("banner-2jpg");

}
.cards{
    width: 100%;
    height: 30vh;
    margin-top: 500px;
    /* margin-left: 25px; */

}
.border-list{
    margin-left: 25px;
}
.menu_list{
    float: left;
    width: 200px;
    margin-left: 10px;
    border: 2px dotted white;
    border-radius: 5px;
}
.cards h2{
    color:white;
    text-align: center;
    font-size: 60px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-bottom: 20px;
}
.cards hr{
    margin-top: 20px;
    margin-bottom: 50px;
}

 .bg-vedio{
    width: 30%;
    height: 40%;
    margin-left: 70px;
    float: left;
   
 }
 .bg-vedio h2{
    color: aliceblue;
 }
 .locat{
    width: 30%;
    height:40% ;
    float: left;
    margin-left: 20px;
 }
